*{
    
    margin: 0;
    width: auto;
    font-family: 'Raleway', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 


body{
    background-color: rgb(0, 0, 0);

   
    
}
.navBg{
    background-color: rgb(202, 202, 202);
}
.blackText{
    color: black;
}
.navbar-image{
    width:3rem;
    height: 3rem;
}
.navbar-brand{
    font-size: 2rem;
   
    
    
}
.nav-item a{
    font-size: x-large;
    
}

.nav-item:hover{
    text-decoration: black underline;
   
   
}
.carousel-item{
    height: 32rem;
    position: relative;
    
    color: white;
    background-position: center;
   
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
} 




#cardOneText{
   font-weight: lighter;
}
#mainNavbar{
    width: 100%;
}



.cardTitle {
    color: white;
   font-size: 2.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
}
.cardText {
    color: white;
   font-size: 2rem;
    
      line-height: 1.75;
}
#title{
   position: relative;
  text-align: center;
    white-space: nowrap;
    color: white;
    
}


.content{
    margin-top: 6rem;
}

.facebookImg{
    width: 6rem;
    margin-top: 0rem;
    
}
#telephone{
    text-decoration: none;
    color: white;
}
#phoneNumber{
    text-decoration: underline;
}

#openingHours{
    border: 40px solid;
    border-image-source: url(./images/border-img.png);
    border-image-slice: 200;
    border-image-repeat: round;
}

