*{
    
    margin: 0;
    width: auto;
    font-family: 'Raleway', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap'); 
 


body{
    background-color: rgb(87, 82, 82);
    
}

.textColor{
    color: rgb(175, 170, 170);
}
.topPadding{
    padding-top: 8rem;
}
.navBg{
    background-color: rgb(180, 177, 177);
    border-bottom: .2rem solid rgb(0, 0, 0);
}
.blackText{
    color: rgb(0, 0, 0);
    
}
.navbarImage{
    width:6vw;
   
}
.navbarBrand{
    font-weight: 600;
          font-size: 5vw;  
    
}
.nav-item a{
    font-size: x-large;
    
}

.nav-item a:hover{
    text-decoration: black underline;
   
   
}
.carousel-item{
    height: 32rem;
    position: relative;
    
    
    background-position: center;
   
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
} 










.cardTitle {
   
   font-size: 2.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
      text-decoration: underline;
}
.cardText {
    
   font-size: 2rem;
    
      line-height: 1.75;
}
#title{
   position: relative;
  text-align: center;
    
     
    
}


.content{
    margin-top: 6rem;
}

.facebookImg{
    width: 6rem;
    margin-top: 0rem;
    
    
}
#telephone{
    text-decoration: none;
    color: white;
}
#phoneNumber{
    text-decoration: underline;
}



.socialMediaLogo{
    width: 5rem;
    height: 3rem;
}

