*{
    
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}



body{
    background-color: rgb(44, 45, 49);
   
    
}
.navbar-image{
    width:3rem;
    height: 3rem;
}
.navbar-brand{
    font-size: 3rem;
   
    
    
}
.nav-item a{
    font-size: x-large;
    
}

.nav-item:hover{
    text-decoration: underline;
   
}




#cardOneText{
   font-weight: lighter;
}



.cardTitle {
    color: white;
   font-size: 2.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
}
.cardText {
    color: white;
   font-size: 2rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
      line-height: 1.75;
}


.content{
    margin-top: 6rem;
}

.facebookImg{
    width: 6rem;
    
}



